#Python - Data Structure

#Data Types and Structures Questions


1. What are data structures, and why are they important?
   - Data structures are used for efficient data persistence, such as specifying the collection of attributes and corresponding structures used to store records in a database management system.

2. Explain the difference between mutable and immutable data types with examples.
   - Mutable data types can be changed after creation, whereas immutable data types can't be changed after creation. i.e., you can add, remove, or modify the contents of a mutable data type but can't do the same with an immutable data type.

3. What are the main differences between lists and tuples in Python?
   - The key difference between tuples and lists is that while tuples are immutable objects, lists are mutable. This means tuples cannot be changed while lists can be modified. Tuples are also more memory efficient than the lists.

4. Describe how dictionaries store data.
   - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python?
   - One of the main advantages of using sets in Python is that they are highly optimized for membership tests. For example, sets do membership tests a lot more efficiently than lists.
         There are three reasons to Use Sets over Lists. Understanding when and where each container is appropriate.
         Order doesn't matter. Unlike lists, sets do not store ordered data.
         Duplicates are irrelevant. By definition, sets cannot contain duplicates.
         Processing speed matters.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7. How do tuples ensure data integrity in Python?
   - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - Hash tables or has maps in Python are implemented through the built-in dictionary data type. The keys of a dictionary in Python are generated by a hashing function. The elements of a dictionary are not ordered and they can be changed.

9. Can lists contain different data types in Python?
   - Although it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.

10. Explain why strings are immutable in Python.
    - Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style). Since strings can't be changed, we construct *new* strings as we go to represent computed values.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future. Therefore the correct option is it's quicker and easier to find a specific element in a dictionary.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

13. How do sets handle duplicate values in Python?
    - Items of a set in python are immutable, do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

14. How does the “in” keyword work differently for lists and dictionaries?
    - A set is a built-in data structure in Python that represents a collection of unique elements. A Dictionary is a collection of key-value pairs, where each key is unique and associated with a value. Lists maintain the order of the elements they contain. Dictionaries do not maintain the order of the elements they contain.

15. Can you modify the elements of a tuple? Explain why or why not.
    - Tuples, unlike lists, are immutable. This means that once a tuple's elements have been allocated, they cannot be modified. However, if the element is a changeable data type, such as a list, its nested components can be altered. If you attempt to alter a tuple element, you will receive a TypeError error.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a data structure where a dictionary contains another dictionary as one of its values, essentially creating a hierarchical organization of key-value pairs within a dictionary; a common use case is representing complex relationships like an organizational chart, where the top level dictionary holds departments as keys and the nested dictionaries within each department key store individual employee details as key-value pairs
      # Example
            company_structure = {

    "Sales": {

        "Manager": "John Doe",

        "Team Members": ["Alice", "Bob", "Charlie"]

    },

    "Marketing": {

        "Manager": "Jane Smith",

        "Team Members": ["David", "Eve"]

    },

    "IT": {

        "Manager": "Mike Brown",

        "Team Members": ["Frank", "Grace"]

    }

}

17. Describe the time complexity of accessing elements in a dictionary.
    - Similar to the insertion operation, dictionary lookups in Python also have an average time complexity of O(1). This means that, on average, the time taken to retrieve an element from a dictionary is constant and does not depend on the size of the dictionary.

18. In what situations are lists preferred over dictionaries?
    - Dictionarys have two parts to every entry the key and the value and these are stored as pairs. This can give you more flexibility when storing data. The primary advantage would be retrieving stored values as it is much simpler to search through a dictionary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that. A data dictionary organizes information in a structured manner, typically in tables or a database format. This structure allows for easy searching, retrieval, and management of the data definitions. It ensures that each data element is defined in a standard and consistent manner.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

#Practical Questions

In [62]:
#1. Write a code to create a string with your name and print it

In [ ]:
# Create a string with your name
my_name = "Your Name"

# Print the string
print("Anindya")

Anindya

In [63]:
#2. Write a code to find the length of the string "Hello World"

In [ ]:
# Define the string
my_string = "Hello World"

# Find the length of the string
string_length = len(my_string)

# Print the length
print("The length of the string is:", len("Hello World"))

The length of the string is: 11

In [64]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# Define the string
my_string = "Python Programming"

# Slice the first 3 characters
sliced_string = my_string[:3]

# Print the sliced string
print("Sliced string:", "Python Programming"[:3])

Sliced string: Pyt

In [65]:
#4. Write a code to convert the string "hello" to uppercase.

In [ ]:
my_string = "hello"

# Convert the string to uppercase
uppercase_string = my_string.upper()

# Print the uppercase string
print("hello".upper())

HELLO

In [66]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
my_string = "I like apple"

# Replace "apple" with "orange"
new_string = my_string.replace("apple", "orange")

# Print the modified string
print("I like apple".replace("apple", "orange"))

I like orange

In [67]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Create a list of numbers from 1 to 5
my_list = list(range(1, 6))

# Print the list
print(list(range(1, 6)))

[1, 2, 3, 4, 5]

In [68]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [89]:
my_list = [1, 2, 3, 4]

# Append 10 to the list
my_list.append(10)

# Print the updated list
print(my_list)

[1, 2, 3, 4, 10]

In [69]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [90]:
my_list = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print(my_list)

[1, 2, 4, 5]

In [70]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = my_list[1]

# Print the second element
print(['a', 'b', 'c', 'd'][1])

b

In [71]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]

# Method 1: Using list slicing
reversed_list = my_list[::-1]

# Method 2: Using reversed() function
reversed_list = list(reversed(my_list))

print(list(reversed([10, 20, 30, 40, 50])))

[50, 40, 30, 20, 10]

In [ ]:
print([10, 20, 30, 40, 50][::-1])

[50, 40, 30, 20, 10]

In [72]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
# Create a tuple
my_tuple = (10, 20, 30)

# Print the tuple
print((10, 20, 30))

(10, 20, 30)

In [73]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]

# Print the first element
print(('apple', 'banana', 'cherry')[0])

apple

In [74]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)

# Count the occurrences of the number 2
count = my_tuple.count(2)

# Print the count
print("The number 2 appears", (1, 2, 3, 2, 4, 2).count(2), "times in the tuple.")

The number 2 appears 3 times in the tuple.

In [75]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')

print("The index of 'cat' is:", ('dog', 'cat', 'rabbit').index('cat'))

The index of 'cat' is: 1

In [76]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
if 'banana' in ('apple', 'orange', 'banana'):
    print("banana is present in the tuple.")
else:
    print("banana is not present in the tuple.")

banana is present in the tuple.

In [77]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
# Create a set with the elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}

# Print the set
print({1, 2, 3, 4, 5})

{1, 2, 3, 4, 5}

In [78]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [93]:
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 6}

In [79]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
# Create a tuple
my_tuple = (10, 20, 30)

# Print the tuple
print((10, 20, 30))

(10, 20, 30)

In [80]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]

# Print the first element
print(('apple', 'banana', 'cherry')[0])

apple

In [81]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [88]:
my_tuple = (1, 2, 3, 2, 4, 2)

# Count the occurrences of the number 2
count = my_tuple.count(2)

# Print the count
print("The number 2 appears", (1, 2, 3, 2, 4, 2).count(2), "times in the tuple.")

The number 2 appears 3 times in the tuple.

In [82]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [86]:
my_tuple = ('dog', 'cat', 'rabbit')


index_of_cat = my_tuple.index('cat')
print("The index of 'cat' is:", ('dog', 'cat', 'rabbit').index('cat'))

The index of 'cat' is: 1

In [83]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
if 'banana' in ('apple', 'orange', 'banana'):
    print("banana is present in the tuple.")
else:
    print("banana is not present in the tuple.")

banana is present in the tuple.

In [84]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
# Create a set with the elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}

# Print the set
print({1, 2, 3, 4, 5})

{1, 2, 3, 4, 5}

In [85]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [92]:
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print(my_set)

{1, 2, 3, 4, 6}